<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Q Gacha</title>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div style="text-align: center">
        <p>
            <marquee width="40%">
                <span style="font-size: xx-large">量子ガチャ</span>
            </marquee>
        </p>

        <p>
            <img src="./assets/computer_ryoushi_quantum.png" alt="quantum computer" />
            <img src="./assets/gachagacha.png" alt="gachagacha" />
        </p>

        <p>
            <button type="button" id="restart" class="btn btn-info disabled" style="margin-top: 3em" disabled>再起動</button>
        </p>

        <p id="result" style="font-size: x-large">
        </p>

        <p>
            <button type="button" id="start" class="btn btn-primary" style="margin-top: 3em">抽選！</button>
            <button type="button" id="cheat" class="btn btn-warning" style="margin-top: 3em">チート！</button>
        </p>
    </div>

    <script>
        function coinToss(measureAPI, verifyAPI, callback) {
            $.getJSON(measureAPI, function(jsonResponse) {
                $.post(verifyAPI, JSON.stringify(jsonResponse), function(data) {
                    callback(data);
                }, 'json');
            });
        }

        function makeResult(response) {
            if (response.is_verify_valid === true && response.result === 0) {
                $( "#result" ).append("🙆‍")
            } else if(response.is_verify_valid === true && response.result === 1) {
                $( "#result" ).append("🙅‍");
                $( "#start" ).addClass("disabled").prop('disabled', true);
                $( "#cheat" ).addClass("disabled").prop('disabled', true);
                $( "#restart" ).removeClass("disabled").prop("disabled", false);
            } else if (response.is_verify_valid === false) {
                $( "#start" ).addClass("disabled").prop('disabled', true);
                $( "#cheat" ).addClass("disabled").prop('disabled', true);
                $( "#result" ).html("<span class='text-warning'>Cheat detected!</span>");
                $( "#restart" ).removeClass("disabled").prop("disabled", false);
            }
        }

        $( "#start" ).click(function() {
            var measureAPI = "./measure";
            var verifyAPI = "./verify";

            coinToss(measureAPI, verifyAPI, function (response) {
                console.log(response);
                makeResult(response)
            })
        });

        function coinTossWithCheating(cheatAPI, cheatVerifyAPI, callback) {
            $.getJSON(cheatAPI, function(jsonResponse) {
                $.post(cheatVerifyAPI, JSON.stringify({
                    b: jsonResponse.b,
                    session: jsonResponse.session,
                    // ここでは`0`でクライアントの勝ちとしている。
                    wanted_result: 0
                }), function(data) {
                    callback(data);
                }, 'json');
            });
        }

        $( "#cheat" ).click(function () {
            var cheatAPI = "./cheat";
            var cheatVerifyAPI = "./cheat_verify";

            coinTossWithCheating(cheatAPI, cheatVerifyAPI, function (response) {
                console.log(response);
                makeResult(response)
            })

        });

        $( "#restart" ).click(function () {
            $( "#result" ).html("");
            $( "#start" ).removeClass("disabled").prop('disabled', false);
            $( "#cheat" ).removeClass("disabled").prop('disabled', false);
        });
    </script>
</body>
</html>